@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./assets/bg-desktop.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
#container {
  width: 360px;
  margin: 56px auto 0;
}
#profile {
  text-align: center;
  padding: 24px;
}
#profile img {
  width: 112px;
  margin-bottom: 8px;
}
#profile {
  font-family: Inter, sans-serif;
  color: #ffffff;
  font-weight: 500;
  line-height: 24px;
}
#links {
}
